/UserStatusFrame.class
/UserStatusFrame$1.class
/UserStatusFrame$2.class
/UserStatusFrame$3.class
/ChannelStatusFrame.class
/ChannelStatusFrame$1.class
/ChannelStatusFrame$2.class
/ChannelStatusFrame$3.class
